main {
  text-align: center;
}

main h2 {
  padding: 15px 0;
}

main ul {
  list-style: none;
}

main ul li {
  margin: 10px 0;
}

a,
a:active,
a:visited {
  color: #c9dbb2;
}

a:hover {
  color: #c1d0b5;
}

main ul li {
  display: inline-block;
  padding: 5px 10px;
}
